<div class='container'>

  <div class='profile-info'>
    <div class="profile-info-intro">

      <div class='profile-photo'>
        <img src="{{profile.picture}}" alt="{{profile.name}}" />
      </div>



      <div class="titles">
        <h2>{{capitalize profile.name}}’s Profile</h2>
        <p><strong>Joined in:</strong> {{date profile.createdAt}}</p>
      </div>

    </div>

    <div class='profile-info'>
      <p><strong>Username:</strong>: {{capitalize profile.name}}</p>
      <p><strong>Email</strong>: {{profile.email}}</p>
    </div>

    {{!-- {{#if userIsOwner}}
    <div class="item-btn">
      <a class="button" href="/profile/edit">Edit Profile</a>
    </div>
    {{/if}} --}}

    {{#if userIsOwner}}
    <div class='list-view-btn item-btn'>
      <form action='/profile/{{profile._id}}/edit' method='GET'>
        <button class='button btn-small'>Edit</button>
      </form>
    </div>
    {{/if}}

  </div>

  <!-- profile-bookshelf -->
  <div class='profile-bookshelf'>
    {{!-- <div class="container inner">
      <div class="titles">
        <h2>{{capitalize profile.name}}’s Bookshelf</h2>
        <p>Choice Awards, the only major book awards decided by readers
          <span>Congratulations to the best books of the year!</span>
        </p>
      </div>
    </div> --}}
    {{#if savedBooks}}
    <div class="container inner">
      <div class="titles">
        <h2>{{capitalize profile.name}}’s Bookshelf</h2>
        <p>All the books you have saved
          <span>are one click away!</span>
        </p>
      </div>
    </div>
    <div class='container inner'>
      <div class="items profile">
        {{#each savedBooks}}
        <div class='item'>
          <div class='item-photo'>
            <a href='/books/book/{{bookId}}'>
              {{#if imageLinks.thumbnail}}
              <img src={{imageLinks.thumbnail}} alt='{{title}}' />
              {{else}}
              <img src='/images/book-cover.jpg' alt="{{title}}" />
              {{/if}}
            </a>
          </div>
          <div class='item-info'>
            <h3><a href='/books/book/{{this.id}}'>{{truncate title 30}}</a></h3>
            <h4>{{authors}}</h4>
            <p>{{{truncate description 100}}} ...</p>
          </div>
          <div class="item-btn">
            <a href='/books/book/{{bookId}}' class="button">View</a>
          </div>
        </div>
        {{/each}}
        {{else}}
        <div class="container inner">
          <div class="items profile profile-empty-state"> {{!-- <div class="profile-empty-state"> --}}
              <div class="titles">
                <h2>{{capitalize profile.name}}’s Bookshelf</h2>
                <p>Currently, you don't have any saved books in your bookshelf.
                  <span>Check out our library to add some!</span>
                </p>
              </div>
              <div class="item-btn">
                <a href='/books' class="button">Search books</a>
              </div>
            </div>

          </div>
          {{/if}}
        </div>
      </div>
    </div>

    <!-- member clubs -->
    <div class='profile-bookshelf'>

    {{#if userClubs}}
      <div class="container inner">
        <div class="titles">
          <h2>{{capitalize profile.name}}’s Clubs</h2>
          <p>Access all the clubs you joined
            <span>do not miss new content!</span>
          </p>
        </div>
      </div>
    <div class='container inner'>
      {{#each userClubs}}
        <section class="clubs-reviews">
          <div class="list-item">
            {{#if picture}}
              <div class="photo"><img src="{{picture}}" alt="{{name}}" /></div>
            {{else}}
              <div class="photo"><img src="/images/club-cover.jpg" alt="{{name}}" /></div>
            {{/if}}

          <div class="creator">

            <div class="name">{{capitalize name}}</div>

            <div class="member">Created: {{date createdAt}}</div>
              <p>{{truncate description 50}}</p>

            <div class='list-view-btn item-btn'>
              <form action='/clubs/club/{{_id}}' method='GET'>
                <button class='button'>
                <span class="material-symbols-outlined">auto_stories</span>
                View Club
                </button>
              </form>
            </div>
          </div>
          </div>
        </section>
      {{/each}}
    </div>
    {{else}}
      <div class="container inner">
        <div class="items profile profile-empty-state"> 
          <div class="titles">
            <h2>{{capitalize profile.name}}’s Clubs</h2>
            <p>You are not part of any clubs yet.
            <span> To share your thoughts with others,</span>
            </p>
          </div>
        <div class="btn-bundle">
          <div class="item-btn">
            <a href='/clubs' class="button">Explore clubs</a>
          </div>
          <div><span>or</span></div>
            <div class="item-btn">
              <a href='/clubs/club/create' class="button">Create a club</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    </div>
  </div>
</div>