{{#if books}}
<div class='container inner'>
  <div class="items">
    {{#each books}}
    <div class='item'>
      <div class='item-photo'>
        <a href='/books/book/{{this.id}}'>
          {{#if this.volumeInfo.imageLinks.thumbnail}}
          <img src={{this.volumeInfo.imageLinks.thumbnail}} alt="{{this.volumeInfo.title}}" />
          {{else}}
          <img src='/images/book-cover.jpg' alt="{{this.volumeInfo.title}}" />
          {{/if}}
        </a>
      </div>
      <div class='item-info'>
        <h3><a href='/books/book/{{this.id}}'>{{truncate this.volumeInfo.title 30}}</a></h3>
        <h4>{{this.volumeInfo.authors}}</h4>
        <p>{{truncate this.volumeInfo.description 100}} ...</p>
      </div>
      <div class="item-btn">
        <a href='/books/book/{{this.id}}' class="button">View</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>