<div class="container">

  <div class="titles">
    <h2>{{book.volumeInfo.title}}</h2>
    <p>Author: {{#each book.volumeInfo.authors}}
      {{this}}
      {{/each}}
    </p>
  </div>

  <div class="container inner">

    <div class="single">
      <div class='single-photo'>
        {{#if book.volumeInfo.imageLinks.medium}}
        <img src={{book.volumeInfo.imageLinks.medium}} alt="{{book.volumeInfo.title}}" />
        {{else}}
        {{#if book.volumeInfo.imageLinks.small}}
        <img src={{book.volumeInfo.imageLinks.small}} alt="{{book.volumeInfo.title}}" />
        {{else}}
        {{#if book.volumeInfo.imageLinks.thumbnail}}
        <img src={{book.volumeInfo.imageLinks.thumbnail}} alt="{{book.volumeInfo.title}}" />
        {{else}}
        <img src='/images/book-cover.jpg' alt="{{book.volumeInfo.title}}" />
        {{/if}}
        {{/if}}
        {{/if}}
      </div>
      <form action='' method='POST'>
        <button class="fav-btn"> &#9829; </button>
      </form>
      <div class='single-info'>
        <p class="author">{{#each book.volumeInfo.authors}}
          {{this}}
          {{/each}}
        </p>
        <p>{{book.volumeInfo.description}}</p>
      </div>

      <div class="single-sidebar">

        <p><span>Categories:</span> {{{book.volumeInfo.categories}}}
        <p><span>Published date:</span>{{book.volumeInfo.publishedDate}}</p>
        <p><span>Rating:</span>{{book.volumeInfo.averageRating}}</p>
        <p><span>Page Count:</span>{{book.volumeInfo.pageCount}}</p>

      </div>
    </div>
  </div>

</div>



<div class="reviews">
  <div class="reviews-top-text">
    <h4> Users reviews:</h4>
    <h4><button class="review-btn"> <a href='/reviews/create/{{bookId}}'>Write a review</a> </button></h4>
  </div>

  <div class="review-messages">
    {{#each reviews}}
    <p class="review-name-date">
      <small class="review-creator">{{creator.name}}</small>
      <small>{{createdAt}}</small>
    </p>
    <a href='/reviews/{{_id}}' class='publication-item'>
      <div class="review-single">
        {{message}}
    </a>
    <br><br>
    <hr>
  </div>
  {{/each}}
</div>