<div class='container'>
  <h1>{{capitalize user.name}}</h1>

  <div class='profile-info'>
    <div class='profile-photo'>
      <img src='/images/surveillance_re_8tkl.svg' />
    </div>
    <span><strong>Username:</strong>: {{capitalize user.name}}</span>
    <span><strong>Email</strong>: {{user.email}}</span>

  </div>

  {{#each savedBooks}}
    <div>
      <div><img src={{imageLinks.thumbnail}} /></div>
      <p>{{title}} - {{bookId}}</p>
    </div>
  {{/each}}
</div>