<div class='container'>

  <div class="page-hero">

    <div class='banner-img-box review-banner'>
      <img src='/images/user_reviews_2.png' alt='book-club' />
    </div>

    <p class="quote text-center">
      <span class="block"><strong>Share your thoughts!</strong></span>
      <span>See what other people say about the latest releases and old classics. Share your own opinion!</span>
    </p>


    {{#if isLogged}}
    <form action='/authentication/sign-up' method='GET'>
      <button class='button'>Join Bookbudds</button>
    </form>
    {{else}}
    <a href="authentication/sign-up" class="button">Sign Up</a>
    {{/if}}
  </div>
</div>

{{#if reviews.length}}

<div class="container inner">

  <div class="titles">
    <h2>Our Community Reviews</h2>
    <p>Latest Reviews
      <span>in BookBudds community</span>
    </p>
  </div>

  <section class="clubs-reviews">

    {{#each reviews}}
    <div class="list-item">
      <div class="photo cover"><a href='/books/book/{{book.id}}'><img src="{{bookCover.thumbnail}}"
            alt="{{creator.name}}" /></a></div>
      <div class="creator">
        <div class="name"><a href='/books/book/{{book.id}}'>{{bookTitle}}</a></div>
        <div class="member"><span>Review By:</span> {{capitalize creator.name}}</div>
        <p>{{message}}</p>

        <div class='list-view-btn item-btn'>

          <a href="/reviews/{{_id}}" class="button profile-btn">Review
            <span class="material-symbols-outlined">
              visibility
            </span>
          </a>

          <a href="/profile/{{creator.id}}" class="button profile-btn">View Profile
            <span class="material-symbols-outlined">
              person_filled
            </span>
          </a>
        </div>
      </div>

      <div class="post-date">Created: {{date createdAt}}</div>
    </div>

    {{/each}}
  </section>
  {{/if}}
</div>