<div class='reviews-edit'>
  <h3>{{reviews.bookTitle}}</h3>
  <br />
  <p>{{reviews.message}}</p>
  <hr />
  <br />
  <small>{{date reviews.createdAt}}</small>
  <em>{{review.creator.name}}</em>

  {{#if isReviewCreator}}
    <div class='review-edit-btns'>
      <button class='buttons'><a href='/reviews/{{reviews._id}}/edit'>Edit
          review</a></button>
      <form method='POST' action='/reviews/{{reviews._id}}/delete'>
        <button class='buttons'>Delete review</button>
      </form>

    </div>
  {{/if}}
</div>