<br><br>

<div class="reviews">
  <div class="titles">
    <h2>Latest reviews</h2>
    <p>Check out the latest user reviews</p>
  </div>

  <br><br>

  {{#each reviews}}

  <a class="review-creator" href='/books/book/{{book.id}}' class='publication-item'
    class="review-see-btn">{{book.id}}</a>

  <div class='profile-photo'>
    <img src="{{creator.picture}}" alt="{{creator.name}}" />
  </div>

  <p class="review-name-date">
    <a class="review-creator" href='/profile/{{creator.id}}' class='publication-item'
      class="review-see-btn">{{creator.name}}</a>
    <small>{{date createdAt}}</small>
  </p>
  <a href='/reviews/{{_id}}' class='publication-item'>
    <div class="review-single">
      {{message}}
  </a>

  <div class="review-view-btn">
    <a href='/reviews/{{_id}}' class='publication-item'>See review</a>
  </div>

  <hr>
</div>
{{/each}}

</div>