


<div class="reviews">
  
   <div class='banner'>
     <div class='reviews-img'>
      <img src='/images/user_reviews_2.png' alt='book-club' />
    </div>
    <div class='titles'>
      <h3 class='book-title'>Join a conversation!</h3>
      <p>See what other people say about the latest releases and old classics. Share your own opinion!
        <br>
        {{#unless user}}
       <span> Not a member yet?</span>
       {{/unless}}
      </p>
      {{#unless user}}
      <div class='banner-btn'>
        <form action='/authentication/sign-up' method='GET'>
          <button class='button'>Join Bookbudds</button>
        </form>
      </div>
      {{/unless}}
    </div>

  </div>
    
    <br><br>

 


 

  <div class="latest-reviews">
<h2>Latest reviews:</h2>
  </div>


  {{#each reviews}}

  <div class="review-single-all">
    <div class='review-profile-photo'>
    <img src="{{creator.picture}}" alt="{{creator.name}}" />
  </div>

<div>

  <div class="review-name-date">
    
    <div><a class="review-creator" href='/books/book/{{book.id}}' class='publication-item'
    class="review-see-btn">{{bookTitle}}</a> 
    review writren by:
    <a class="review-creator" href='/profile/{{creator.id}}' class='publication-item'
      class="review-see-btn">{{creator.name}}</a></div>

    <div><small>{{date createdAt}}</small></div>
    
  </div>
  <a href='/reviews/{{_id}}' class='publication-item'>
    <div class="review-single">
      {{message}}
  </a>

  <div class="review-view-btn">
   {{!--<a href='/reviews/{{_id}}' class='publication-item'>See review</a>--}} 
    <h4><button class="see-review-btn"> <a href='/reviews/{{_id}}' >See review</a> </button></h4>
  </div>

  <hr>
</div>
  </div>
</div>

{{/each}}

</div>