<div class='container'>

  {{! class name should be generalized }}

  <div class="page-hero">

    <div class='banner-img-box banner-single-member'>
      <img src='/images/club-single.png' alt='book-club' />
    </div>

    <p class="quote text-center">
      <span class="block"><strong>Join a conversation!</strong></span>
      <span>Book clubs created by our users are a great place to share your thoughts and make new friends!</span>
      <span> Not a member yet?</span>
    </p>


    {{#unless isClubMember}}
    <form action='/clubs/club/{{club._id}}/join' method='POST'>
      <button class='button'>Join</button>
    </form>
    {{/unless}}
  </div>
</div>



  </div>

  <div class='container'>

  <div class='single'>
    <div class="single-column">
      <div class="titles">
        <h2>Welcome to {{club.name}}</h2>
        <p>Share your thoughts with 
          <span>BookBudds community club members</span>
        </p>
      </div>
    <div class='single-info'>
      <h4 class="main-title">Description</h3>
      <p>{{club.description}}</p>
      
    </div>

    </div>
    <div class='single-sidebar'>
      <div class='single-sidebar-text'>
        <p> <a href="/profile/{{{club.creator._id}}}"><span>Created by:</span> {{{club.creator.name}}}</a></p>
        <p><span>Members:</span> <a href="/clubs/club/{{club._id}}/members">{{club.memberCount}}</p></a>
      </div>



      {{#if userIsOwner}}
      <div class='item-btn'>
        <form action='/clubs/club/{{club._id}}/edit' method='GET'>
          <button class='button'>Edit</button>
        </form>
      </div>

      <div class='item-btn'>
        <form action='/clubs/club/{{club._id}}/delete' method='POST'>
          <button class='button'>Delete</button>
        </form>
      </div>

      {{/if}}

    </div>
  </div>

</div>

</div>