<div class='container'>

  <div class="page-hero">

    <div class='banner-img-box'>
      <img src='/images/book-club.png' alt='BookBudds Book-Club' />
    </div>

    <p class="quote text-center">
      <span class="block"><strong>Not part of a book club yet?</strong></span>
      <span>Join our BookBudds club community and share your thoughts with others.</span>
    </p>

    {{#if isLogged}}

    <form action='/clubs/club/create' method='GET'>
      <button class='button'>Create a Club</button>
    </form>

    {{else}}
    <a href="authentication/sign-up" class="button">Sign Up</a>
    {{/if}}
  </div>
</div>


{{#if clubs.length}}
<div class="container inner">

  <div class="titles">
    <h2>Our Community Clubs</h2>
    <p>Latest created clubs
      <span>in BookBudds community</span>
    </p>
  </div>

  <section class="clubs-reviews">

    {{#each clubs}}

    <div class="list-item">
      {{#if picture}}
      <div class="photo"><img src="{{picture}}" alt="{{name}}" /></div>
      {{else}}
      <div class="photo"><img src="/images/club-cover.jpg" alt="{{name}}" /></div>
      {{/if}}

      <div class="creator">

        <div class="name">{{capitalize name}}</div>
        <div class="member"><span>Created By:</span> {{capitalize creator.name}}</div>
        <p>{{description}}</p>

        <div class='list-view-btn item-btn'>

          <a href="/profile/{{creator._id}}" class="button profile-btn">View Creator
            <span class="material-symbols-outlined">
              person_filled
            </span>
          </a>

          <form action='/clubs/club/{{_id}}' method='GET'>
            <button class='button'>
              <span class="material-symbols-outlined">auto_stories</span>
              View Club
            </button>
          </form>

          {{#unless isClubMember}}
          <form action='/clubs/club/{{_id}}/join' method='POST'>
            <button class='button'>
              <span class="material-symbols-outlined">join_full</span>
              Join
            </button>
          </form>
          {{/unless}}

        </div>
      </div>

      <div class="post-date">Created: {{date createdAt}}</div>
    </div>

    {{/each}}
  </section>
  {{/if}}
</div>