<div class='container'>

  {{! class name should be generalized }}

    <div class='banner banner-single-member'>

    <div class='banner-img-box'>
      <img id="club-single" src='/images/club-single.png' alt='book-club' />
    </div>

    <div class='titles'>
      {{!-- <h3 class="sub-title">Join a conversation!</h3> --}}
      <h3 class="book-title">Join a conversation!</h3>
      <p>Book clubs created by our users are a great place <br />
      to share your thoughts and make new friends!

        {{#unless isClubMember}}

       
          <span> Not a member yet?</span>
        </p>
        <div class='banner-btn'></div>
        <form action='/clubs/club/{{club._id}}/join' method='POST'>
          <button class='button'>Join</button>
        </form>
      </div>
      {{/unless}}

    </div>


  </div>

  <div class='container'>

      <h3 class='book-title'>Welcome to {{club.name}}</h3>

  <div class='single'>
    <div class="single-column">
    <div class='single-info'>
      <h3 class="main-title">Description</h3>
      {{!-- <p>{{club.description}}</p> --}}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class='single-info'>
      <h3 class="main-title">Book of the week</h3>
         <div class="items profile profile-empty-state"> {{!-- <div class="profile-empty-state"> --}}
            <div class="titles">
              <p>Select a book to keep the converstaion going.
                <span>Check out our library!</span>
              </p>
            </div>
            <div class="item-btn">
              <a href='/books' class="button">Search books</a>
            </div>
          </div>
    </div>
    </div>
    <div class='single-sidebar'>
      <div class='single-sidebar-text'>
        <p><span>Created by:</span> {{{club.creator.name}}}</p>
        <p><span>Members:</span> <a href="/clubs/club/{{club._id}}/members">{{club.memberCount}}</p></a>
      </div>



      {{#if userIsOwner}}
        <div class='item-btn'>
          <form action='/clubs/club/{{club._id}}/edit' method='GET'>
            <button class='button'>Edit</button>
          </form>
        </div>

        <div class='item-btn'>
          <form action='/clubs/club/{{club._id}}/delete' method='POST'>
            <button class='button'>Delete</button>
          </form>
        </div>

      {{/if}}

    </div>
  </div>
{{!-- Placeholder for club posts --}}
  <h3>Posts</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

</div>