<div class='container'>

  <div class='banner'>
    <div class='titles'>
      <h3 class='book-title'>Not part of a book club yet?</h3>
      <p>Join our clubs created by users to share your thoughts with others
        <br />
        <span>or create a club now!</span>
      </p>

      <div class='banner-btn'>
        <form action='/clubs/club/create' method='GET'>
          <button class='button'>Create a club</button>
        </form>
      </div>
    </div>

    <div class='banner-img-box'>
      <img src='/images/book-club.png' alt='book-club' />
    </div>
  </div>

  <div class='explore-clubs'>
    <div class='explore-title'>
      <h3 class='main-title'>Explore All Clubs</h3>
    </div>

  </div>

  <div class='list'>
    {{#each clubs}}
      <div club class='list-item'>
        {{!-- <div class='profile-photo'>
          <img src='{{picture}}' alt='{{name}}' />
        </div> --}}
        <div class='item-name'>
          <li>
            {{!-- <a class='club-list-text' href='/clubs/club/{{_id}}'> --}}
            <p class='list-text'>{{name}}</p>
            {{!
          </a> }}
          </li>
        </div>

        <div class='list-view-btn item-btn'>

          <form action='/clubs/club/{{_id}}' method='GET'>
            <button class='button'>View</button>
          </form>

        </div>
      </div>

      {{!-- {{#unless isClubMember}}
    <div class='club-list-join-btn item-btn'>

      <form action='/clubs/club/{{_id}}/join' method='POST'>
        <button class='button'>Join</button>
      </form>

    </div>
    {{/unless}} --}}

    {{/each}}
  </div>

</div>