<div class='container'>

  <div class="page-hero">

    <div class='banner-img-box banner-single-member'>
      <img src='/images/members.png' alt='members' />
    </div>

    <p class="quote text-center">
      <span class="block"><strong>Beter together!</strong></span>
      <span>Find people with similar interests!</span>
      <span> Check out club members!</span>
    </p>
  </div>
</div>

</div>
<div class='reviews member-box'>
  <div class="titles">
    <h2>Members of {{club.name}}</h2>
    <p>See who is in our
      <span>{{club.name}} community</span>
    </p>
  </div>

<section class="clubs-reviews">

    {{#each members}}

    <div class="list-item">

      <div class="photo"><img src="{{picture}}" alt="{{name}}" /></div>


      <div class="creator">

        <div class="name">{{capitalize name}}</div>
        <div class="member"><span>Joined BookBudds:</span> {{date createdAt}}</div>


        <div class='list-view-btn item-btn'>

          <a href="/profile/{{_id}}" class="button profile-btn">View Profile
            <span class="material-symbols-outlined">
              person_filled
            </span>
          </a>
        </div>

        </div>
        </div>
        
{{/each}}
</section>
</div>