<div class="container">




  <div class="titles">
    <h2>{{book.volumeInfo.title}}</h2>
    <p><strong>Author:</strong> {{#each book.volumeInfo.authors}}
      {{this}}
      {{/each}}
    </p>
  </div>



  <div class="container inner">

    <div class="single">
      <div class='single-photo'>
        {{#if book.volumeInfo.imageLinks.medium}}
        <img src={{book.volumeInfo.imageLinks.medium}} alt="{{book.volumeInfo.title}}" />
        {{else}}
        {{#if book.volumeInfo.imageLinks.small}}
        <img src={{book.volumeInfo.imageLinks.small}} alt="{{book.volumeInfo.title}}" />
        {{else}}
        {{#if book.volumeInfo.imageLinks.thumbnail}}
        <img src={{book.volumeInfo.imageLinks.thumbnail}} alt="{{book.volumeInfo.title}}" />
        {{else}}
        <img src='/images/book-cover.jpg' alt="{{book.volumeInfo.title}}" />
        {{/if}}
        {{/if}}
        {{/if}}
      </div>

      <div class='single-info'>
        {{#if book.volumeInfo.description}}
        <p>{{book.volumeInfo.description}}</p>
        {{else}}
        <div style="margin-top:3rem;">
        <p>Description is not available for this book.</p>
        </div>

        {{/if}}
        {{!-- <p style="font-weight: bold;">user is logged and book IS-SAVED in user "saved list" => show only a notification "already saved"</p>  --}}

        <div class='list-view-btn item-btn'>
          {{#if isLogged}}
          {{#if bookCheck}}
          <section class="clubs-reviews">
            <div >
              <div >
                <button id="locked-save-btn" class='button profile-btn'>
                  <div id="locked-save-btn-inner">
                  <div>
                    {{!-- <span class="material-symbols-outlined">check</span> --}}
                    <span class="material-symbols-outlined">
                    collections_bookmark
                    </span>
                  </div>
                  <div>
                    <p style="text-align: end;">Saved in Bookshelf</p>
                  </div>
                  </div>
                </button>
              </div>
            </div>
          </section>

          {{else}}
          {{!-- <p style="font-weight: bold;">user is logged but book is NOT is his list => show the button to save</p>  --}}
          {{!-- <form action='' method='POST'>
            <button class="under-book-btn">+ bookshaelf</button>
          </form> --}}
          <section class="clubs-reviews">
            <div class="list-item">
              <div class='list-view-btn item-btn'>
                <form action='' method='POST'>
                  <button class="button profile-btn add-to-bookshelf">
                    <span id="add-to-bookshelf" class="material-symbols-outlined">add</span>
                    Add to Bookshelf
                  </button>
                </form>
              </div>
            </div>
          </section>
          {{/if}}
          {{else}}
          {{!-- <p style="font-weight: bold;">user is not logged in => show button that is taking the user to the sing-up</p> --}}
          <section class="clubs-reviews">
            <div class="list-item">
              <div class='list-view-btn item-btn'>
                <form action='/authentication/sign-in' method='GET'>
                  <button class="button profile-btn add-to-bookshelf">
                    <span id="add-to-bookshelf" class="material-symbols-outlined">add</span>
                    Add to Bookshelf
                  </button>
                </form>
              </div>
            </div>
          </section>
          {{/if}}
        </div>
        {{!-- <button class="under-book-btn"> <a href='/reviews/create/{{bookId}}'> Write review </a> </button> --}}
      </div>


      <div class="single-sidebar">
        <p><span>Published date:</span>{{book.volumeInfo.publishedDate}}</p>
        <p><span>Rating:</span>{{book.volumeInfo.averageRating}}</p>
        <p><span>Page Count:</span>{{book.volumeInfo.pageCount}}</p>
        <div>{{notifyMessage}}</div>
        <p><span>Categories:</span> {{{book.volumeInfo.categories}}}
      </div>

    </div>
  </div>

<div class="container">
  {{!-- <div class="reviews">
    <div class="reviews-top-text"> --}}
      <div id="rev-title-btn-box">
        <div class="titles">
          <h2>Community reviews</h2>
          <p>See what other people think of this book.
          <span>Write a review to share your thoughts</span>
          </p>
        </div>

        <div id="write-rev-box">
          <button class='button' id="write-review">
            <a href='/reviews/create/{{bookId}}'> Write a review </a> 
            </button>
        </div>
      </div>
   

    

      {{!-- {{#each reviews}}

      <div class="review-single-all">
        <div class='review-profile-photo'>
          <img src="{{creator.picture}}" alt="{{creator.name}}" />
        </div>

        <div>

          <div class="review-name-date">

            <div>
              <small> written by</small>
              <a class="review-creator" href='/profile/{{creator.id}}' class='publication-item'
                class="review-see-btn">{{creator.name}}</a>
            </div>

            <div><small>{{date createdAt}}</small></div>

          </div>
          <a href='/reviews/{{_id}}' class='publication-item'>
            <div class="review-single">
              {{message}}
          </a>

          <div class="review-view-btn">
            <h4><button class="under-book-btn"> <a href='/reviews/{{_id}}'>See review</a> </button></h4>
          </div>

          <hr>
        </div>
      </div>
    </div>
    {{/each}} --}}

  <section class="clubs-reviews">

    {{#each reviews}}
    <div class="list-item">
      {{!-- <div class="photo cover"><a href='/books/book/{{book.id}}'><img src="{{bookCover.thumbnail}}"
            alt="{{creator.name}}" /></a></div> --}}
      <div class='review-profile-photo'>
        <img src="{{creator.picture}}" alt="{{creator.name}}" />
      </div>
      <div class="creator">
        <div class="name"><a href='/books/book/{{book.id}}'>{{bookTitle}}</a></div>
        <div class="member"><span>Review By:</span> {{capitalize creator.name}}</div>
        <p class="review-title">{{reviewTitle}}</p>
        <p>{{message}}</p>
        

        <div class='list-view-btn item-btn'>
          <a href="/profile/{{creator.id}}" class="button profile-btn">View Profile
            <span class="material-symbols-outlined">
              person_filled
            </span>
          </a>

          <a href="/reviews/{{_id}}" class="button profile-btn">View Review
            <span class="material-symbols-outlined">
              visibility
            </span>
          </a>
        </div>
      </div>

      <div class="post-date">Created: {{date createdAt}}</div>
    </div>
    {{/each}}

  </section>
</div>